<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Crusher: Cross Play</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script type="text/javascript">
        function updateSelectedLetter() {
            var selectElement = document.getElementById("letterSelect");
            var selectedValue = selectElement.value;
            var selectedLetterElement = document.getElementById("selectedLetter");
            var boxFormElement = document.getElementById("boxForm");
            
            if (selectedValue) {
                selectedLetterElement.textContent = "You selected: " + selectedValue + " letters";
                selectedLetterElement.hidden = false;
                var boxFormHTML = '<form action="/word_options" method="post">';
                boxFormHTML += '{% csrf_token %}';
                boxFormHTML += '<input type="hidden" name="selected_letter" id="selectedLetterInput" value="' + selectedValue + '">';
                boxFormHTML += '<table class="ui celled table" style="width: 100%;"><thead><tr><th>2. Your Playable Letter(s)</th></tr></thead><tbody><tr>';
                boxFormHTML += '<td><input type="text" name="playable_letters" placeholder="Enter your letter(s)" required></td>';
                boxFormHTML += '</tr></tbody></table>';
                boxFormHTML += '<table class="ui celled table"><thead><tr><th colspan="' + selectedValue + '">3. Place any Pre-existing Anchor Letter(s) and/or Multipliers</th></tr></thead><tbody><tr>';
                for (var i = 0; i < selectedValue; i++) {
                    boxFormHTML += '<td><input type="text" name="letter' + (i + 1) + '" placeholder="Enter letter ' + (i + 1) + '"></td>';
                }
                boxFormHTML += '</tr><tr>';
                for (var i = 0; i < selectedValue; i++) {
                    boxFormHTML += '<td><select name="multiplier' + (i + 1) + '">';
                    boxFormHTML += '<option value="1">...</option>'; 
                    boxFormHTML += '<option value="2L">2L</option>';
                    boxFormHTML += '<option value="3L">3L</option>';
                    boxFormHTML += '<option value="2W">2W</option>';
                    boxFormHTML += '<option value="3W">3W</option>';
                    boxFormHTML += '</select></td>';
                }
                boxFormHTML += '</tr></tbody></table>';
                boxFormHTML += '<input class="ui blue button" type="submit" value="Submit">';
                boxFormHTML += '</form>';
                boxFormElement.innerHTML = boxFormHTML;
            } else {
                selectedLetterElement.textContent = "";
                
            }
        }
    </script>
</head>
<body>
    <div style="margin-left: 20px; left: 20px; right: 20px;">
        <h1 style="text-align: center;">Cross Play Optimizer</h1>
        <h4 style="text-align: center;">
            Welcome to the Cross Play Optimizer!  Here you can optimize your word play and identify which words will give you the most points for your letters.<BR>
            This works on a single vector of letter play (i.e. horizontal or vertical) and allows you to maximize your scoring potential.<BR>
            <span class="ui small comments">{{ message }}</span>
        </h3>
        <hr>
    </div>

    <div class="container body-content" style="margin-left: 20px; left: 20px; right: 20px;">
        
        <p style="margin-left: 20px; left: 20px; right: 20px;">
            {% if status %}
            <p id="displayResults">
                <p id="startOver" style="margin-top: 20px; align: center;">
                    <a class="ui inverted blue button" href="{% url 'crossplay' %}">== > Start Over <==</a>
                </p>
                {% if status == 'success' %}
                    <strong>Matching Words and Scores for '{{ playable_letters }}':</strong><br>
                {% else %}
                    <strong>No matching words found for playable letters: {{ playable_letters }}</strong><br>
                {% endif %}
                {% if word_scores %}
                    <table class="ui celled table" style="width: 40%;">
                        <thead>
                            <tr>
                                <th>Word</th>
                                <th>Score</th>
                                <th>Points breakdown</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        {% for word_score in word_scores %}
                            <tr>
                                <td>
                                    {{ word_score.0 | safe}}<BR>
                                </td>
                                <td>{{ word_score.2 }}</td>
                                <td>
                                    <span>
                                    <table class="ui celled table" style="width: 100%; border: 1px solid black;">
                                        <tr style="border: 1px solid black;">
                                            {% for letter in word_score.1  %}
                                                {{ letter | safe}}
                                            {% endfor %}
                                        </tr>
                                        <tr style="border: 1px solid black;">
                                            {% for multiplier_value in multiplier_list %}
                                            <td style="border: 1px solid black;"><span style='font-size: 0.9em; color: gray;'>{{ multiplier_value }}</span></td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                    </span>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No matching words found.</p>
                {% endif %}
            </p>
        
            
            {% endif %}


            {% if not status %}
            <p id="selectedLetter" hidden="true">
                <table class="ui celled table">
                    <thead>
                        <tr><th>1: How many letters do you need in your word?</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="letterSelect" name="max_letters" onchange="updateSelectedLetter()">
                                    <option value="">Select a number</option>
                                    {% for i in numbers %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p>
            <p></p>
            {% endif %}

            <p id="boxForm">
                
            </p>

            

            
            
        </p>
    </div>

    <div id="footer" style="margin-left: 20px; left: 20px; right: 20px; width: 100%;">
        <BR><BR><BR><BR>
        <hr>
        <span class="ui small" style="text-align: center;">&copy; 2026 Syncopated Codes LLC</span>
    </div>
</body>
</html>